<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{user.first_name}}</title>
    <style>
        .redirects{
            margin-left: 800px;
            vertical-align: top;
            display: inline-block;
        }
        h1{
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>Edit My Account</h1>
    <a class="redirects" href="/homepage">back</a> <a href="/logout">logout</a>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/edit/{{request.session.user_id}}/proccess" method="POST">
        {% csrf_token %}
        <p>First Name: <input type="text" name="first_name" value="{{user.first_name}}" ></p>
        <p>Last Name: <input type="text" name="last_name" value="{{user.last_name}}"></p>
        <p>Email: <input type="text" name="email" value="{{user.email}}"></p>
        <input type="submit" value="Update" >
    </form>

</body>
</html>