<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}}</title>
    <style>
        .individual_quote{
            border: 3px solid black;
            max-width: 200px;
            max-height: fit-content;
            padding: 5px;
        }
        p{
            display: inline-block;
        }
        .redirects{
            margin-left: 800px;
        }
    </style>
</head>
<body>
    <p>{{user.first_name}} {{user.last_name}}'s Posts</p>
    <p><a class="redirects" href="/homepage">back</a> <a href="/logout">logout</a></p>
    <div class="individual_quote">
        {% for post in user.posts.all %}
            <p>{{post.author}}: {{post.quote}}</p>
        {%endfor%}
    </div>
</body>
</html>